<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify between 37 breeds of Cats 😺 and Dogs 🐶</div>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
        <p>
            Use images of the following breeds:
        </p>
        <p>
            <h2>Cats 😺</h2>
                Abyssinian</br>
                Bengal</br>
                Birman</br>
                Bombay</br>
                British_Shorthair</br>
                Egyptian_Mau</br>
                Maine_Coon</br>
                Persian</br>
                Ragdoll</br>
                Russian_Blue</br>
                Siamese</br>
                Sphynx</br>
        </p>
        <p>
            <h2>Dogs 🐶</h2>
                american_bulldog</br>
                american_pit_bull_terrier</br>
                basset_hound</br>
                beagle</br>
                boxer</br>
                chihuahua</br>
                english_cocker_spaniel</br>
                english_setter</br>
                german_shorthaired</br>
                great_pyrenees</br>
                havanese</br>
                japanese_chin</br>
                keeshond</br>
                leonberger</br>
                miniature_pinscher</br>
                newfoundland</br>
                pomeranian</br>
                pug</br>
                saint_bernard</br>
                samoyed</br>
                scottish_terrier</br>
                shiba_inu</br>
                staffordshire_bull_terrier</br>
                wheaten_terrier</br>
                yorkshire_terrier</br>
        </p>        
    </div>
</div>
</body>
</html>
